<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Filmothèque</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<table class="table">
				    <thead class="thead-dark">
				        <tr>
				            <th> Titre </th>
				            <th> Année </th>
				            <th> Genre </th>
				            <th> Réalisateur </th>
				            <th> Durée </th>
				            <th> Acteurs </th>
				            <th> Synopsis </th>
				        </tr>
				    </thead>
				    <tbody>
					    <tr th:each="film : ${films}">
				            <td><span th:text="${film.titre}"> </span></td>
				            <td><span th:text="${film.annee}"> </span></td>
				            <td><span th:text="${film.genre.libelle}"> </span></td>
				            <td>
				            	<span th:text="${film.real.nom}"></span>
				            	<span th:text="${film.real.prenom}"></span>
				            </td>
				            <td><span th:text="${film.duree}"> </span></td>
				            <td><span th:each="acteur : ${film.acteurs}"> 
								<span th:text="${acteur.nom}"></span>
								<span th:text="${acteur.prenom}"></span><br>				
							</span></td>
				            <td><span th:text="${film.synopsis}"> </span></td>
			        	</tr>
				    </tbody>
				</table>
				<br>
				<div class="row justify-content-center">
					<a href="/films/ajoutAvis" class="btn btn-primary"> Ajouter un Avis</a>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>